ul,a {
  font-family:monospace;
  font-size: 1.25em;
  color:#D4C9DA;
  overflow:none;
  list-style-type: none;
  text-align:right;
  text-decoration:none;

}

#li1{
  font-size:1.25em;
  padding-right:20px;

}

#li2{
  padding-left:60px;
}
.nav{
  border-bottom: 5px black solid;
}

body {
  background-color:#13161C;
}

p {
    font-family: Lato;
    font-size: 1.0em;
    text-align:center;
}

h3{
font-family: Roboto;
font-weight:bolder;
font-size:1.5em;
text-align:center;
}


.mastercon{
display:flex;
flex-wrap:wrap;
align-content:center;
justify-content:space-around;
width:100%;
padding-top:20px;

}


.container, .container2, .container3, .container4, .container5{
  display:flex;
  flex-wrap:wrap;
  width:30%;
  padding-top:25px;

}

.box1, .box2, .box3, .box4, .box5{
  border: 3px black solid;
  width: 300px;
  height:125px;
  text-align:center;
  background-color:#8D8F92;
}

.box1bottom, .box2bottom, .box3bottom, .box4bottom, .box5bottom{
border: 3px black solid;
border-top:none;
border-right:none;
width:150px;
height:125px;
background-color:gray;
}

.box1right, .box2right, .box3right, .box4right, .box5right {
border:3px black solid;
border-top:none;
margin-left:-3px;
width:150px;
height:125px;
background-color:gray;

}


.box6bottom{
border: 3px black solid;
background-color:gray;
width:300px;
height:200px;
}

.mastercon2{
display:flex;
flex-wrap:wrap;
flex-direction:row;
justify-content:flex-start;
width:100%;
}

.concourse, .concourse2, .concourse3, .concourse4, .concourse5{
display:flex;
flex-wrap:wrap;
align-content:space-around;
width:30%;
padding-top:20px;
padding-right:20px;

}

.cbox, .cbox2, .cbox3, .cbox4, .cbox5{
border: 2px black double;
border-right:none;
background-color:#8D8F92;
width:250px;
}

.coursebox, .coursebox2, .coursebox3, .coursebox4, .coursebox5{
border: 2px black double;
background-color:gray;
width:200px;
}
